@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.imageFadeIn {
    animation: fadeInImage 1s ease-in forwards;
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 0.8s ease-in .2s forwards;
    opacity: 0;
}